@charset "UTF-8";

h1, h2, h3, .container {
	text-align: center;
}

h1 {
	margin-bottom: 1em;
}

h2 {
	margin-top: 2em;
}

div.subtitle {
	font-size-adjust: 0.6;
	color: gray;
	text-align: center;
}

.row {
	margin-top: 5px;
}

.container.columns .row:nth-child(even) {
	background-color: #eeeeec;
}

.container.columns .row.header {
	border-bottom: solid 1px;
}

.container.columns .col.field-name {
	font-weight: bold;
	text-align: left;
}

.container.columns .col.field-name.numeric {
	text-align: right;
}

.container.columns .col.field-value {
	text-align: left;
}

.container.columns .col.field-value.numeric {
	text-align: right;
}

.container.rows .col.field-name {
	font-weight: bold;
	text-align: right;
}

.container.rows .col.field-value {
	text-align: left;
}

.error-list {
	margin: 0 33%;	
}

.error {
	color: red;
}

span.empty-value {
	color: gray;
	font-weight: bold;
}