<hr />
<div class="container">
	<div class="row">
		<div class="col">
			<a href="index.jsp" data-toggle="tooltip" data-placement="bottom"
				title="Go to home page">Home</a>
		</div>
		<div class="col">
			<a href="product_addition_form.jsp" data-toggle="tooltip"
				data-placement="bottom" title="Add a new product">Add</a>
		</div>
		<div class="col">
			<a href="products.jsp" data-toggle="tooltip" data-placement="bottom"
				title="Show a table of all products">Products</a>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
	crossorigin="anonymous"></script>

<script>
	$(function() {
		$('[data-toggle="tooltip"]').tooltip()
	})
</script>